---
layout: generic
title_localized:
  en: Best Hotels in Key West | Oceans Edge Resort & Marina
meta_description_localized:
  en: Opened in 2017, Oceans Edge Resort quickly became one of the best hotels in Key West. This luxury resort features ocean-front balconies in every room.
permalink_localized:
  en: /amenities/
meta_tags:
  robots:
---
<section class="hero-static">
  <div class="hero-static__wrap">
    {% regionblock carousel_intro_hero, type:image %}
      <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1572862857/vcfgv0zfn5w9jtap2koi.jpg" alt="Amenities Hero Image">
    {% endregionblock %}
  </div>
  <div class="hero-static__intro">
    {% regionblock carousel_intro_tagline, type:text %}
      <h1 class="overline overline--italic text-center dark" tabindex="0">Why Is Oceans Edge the Best Hotel in Key West?</h1>
    {% endregionblock %}
    {% regionblock carousel_intro_heading, type:header %}
      <h2 class="h1" tabindex="0">Upscale Amenities for Every Guest</h2>
    {% endregionblock %}
    <div class="description" tabindex="0">
      {% regionblock carousel_intro_description, type:text %}
        <p>Oceans Edge Resort & Marina has been carefully designed as a self-contained haven while providing the means for our guests to easily experience the natural beauty and culture of Stock Island and Key West. Your first stop will likely be one of our six saltwater swimming pools—all at the perfect temperature, all the time. Discover our offerings in the list below, and learn more about <b><a href="/stay/">our luxurious accommodations</a></b>.</p>
      {% endregionblock %}
    </div>
  </div>
</section>

<section class="amenities-list">
  {% assign hotel_amenities = site.data._models.hotel_amenities | sort:"order" %}
  <div class="amenities-list__wrap">
    {% for amenity in hotel_amenities %}
      <div class="amenities-list__item">
        <div class="amenities-list__item__inner">
          <div class="amenities-list__item__image">
            <img src="{{amenity.image.url_medium}}" alt="{{amenity.name}}">
          </div>
          <div class="amenities-list__item__text">
            <h3 class="h4">{{amenity.name}}</h3>
            <p class="description">{{amenity.description}}</p>
            {% if amenity.cta_link and amenity.cta_link != "" %}
            <a class="btn btn--light" href="{{amenity.cta_link}}">{{amenity.cta_label}}</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <hr class="divider">
</section>

<section class="more-amenities">
  <div class="more-amenities__wrap">
    <div class="more-amenities__left-img">
      {% regionblock more_amenities_left-img, type:image %}
        <img src="" alt="">
      {% endregionblock %}
    </div>
    <div class="more-amenities__center-text">
      {% regionblock more_amenities_center-heading, type:header %}
        <h4 class="h4">Additional Amenities at Oceans Edge</h4>
      {% endregionblock %}
      {% regionblock more_amenities_center-text, type:text %}
        <ul>
          <li> Luxurious robes in all rooms </li>
          <li> Poolside games and activities for all ages </li>
          <li> Pets welcome </li>
          <li> Pack 'n Plays upon request </li>
          <li> $20 plus tax parking per day </li>
          <li> On-site access to excursions from our marina </li>
        </ul>
      {% endregionblock %}
    </div>
    <div class="more-amenities__right-img">
      {% regionblock more_amenities_right-img, type:image %}
        <img src="" alt="">
      {% endregionblock %}
    </div>
  </div>
</section>

<section class="common-cta">
  <div class="common-cta__img">
    {% regionblock common-cta-img, type:image %}
      <img src="" alt="">
    {% endregionblock %}
  </div>
  <div class="common-cta__text text-center">
    {% regionblock common-cta-header, type:text %}
      <p class="h4 light">Resort Dining</p>
    {% endregionblock %}
    {% regionblock common-cta-text, type:text %}
      <p class="h3 light">The Yellowfin Bar and Grill introduces the new concept of island cooking</p>
      <a href="/dining/" class="btn btn--light">Discover Dining</a>
    {% endregionblock %}
  </div>
</section>
