---
layout: generic
title_localized:
  en: Key West Trips | Oceans Edge Resort & Marina
meta_description_localized:
  en: The best Key West trips start with Oceans Edge. This luxury resort and marina offers the ideal setting for group travel for weddings, family reunions, and meetings.
permalink_localized:
  en: /groups/
meta_tags:
  robots:
---

<section class="hero-carousel">
  <div class="hero-carousel__wrap">
    {% assign items = site.data._models.groups_hero_carousel | sort: order %}
    {% for item in items %}
    <img src="{{ item.image.url_xlarge }}" alt= "{{ item.name }}" />
    {% endfor %}

  </div>
  <div class="hero-carousel__controls" id="heroNav">
    <a class="iconbtn iconbtn--left" data-controls="prev" tabindex="-1" href="javascript:void(0)" title="Previous Image"></a>
    <a class="iconbtn iconbtn--right" data-controls="next" tabindex="-1" href="javascript:void(0)" title="Next Image"></a>
  </div>
  <div class="hero-carousel__intro">
    {% regionblock carousel_intro_tagline, type:text %}
    <h1 class="overline overline--italic text-center dark" tabindex="0">Key West Trips for Groups</h1>
    {% endregionblock %}
    {% regionblock carousel_intro_heading, type:header %}
    <h2 class="h1" tabindex="0">Exquisite Settings for Memorable Events at Oceans Edge </h2>
    {% endregionblock %}
    <div class="description" tabindex="0">
      {% regionblock carousel_intro_description, type:text %}
      <p>Planning to bring your group to beautiful Key West? Contact us today to learn how our luxury property can accommodate you and your guests. With spacious suites and a variety of options for adjoining rooms, Oceans Edge Key West is an ideal destination for groups seeking luxurious oceanfront accommodations and the amenities of a world-class resort.</p>
      {% endregionblock %}
    </div>
  </div>
</section>

<section class="groups-intro groups-intro--full-screen groups-weddings">
  <div class="groups-intro__wrap">
    <div class="groups-intro__content-wrap">
      <div class="groups-intro__image">
        <div class="groups-intro__image__wrap">
          {% regionblock groups_weddings_img, type:image %}
          <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1573199329/wdqgnnrvfn1bcwxs1yc6.jpg" alt="Ocean Edge Weddings" />
          {% endregionblock %}
        </div>
      </div>
      <div class="groups-intro__content">
        <div class="groups-intro__content__detail">
          {% regionblock groups_weddings_subheader, type:header %}
          <h2 class="overline overline--italic dark" tabindex="0">Key West Weddings</h2>
          {% endregionblock %}
          {% regionblock groups_weddings_header, type:header %}
          <h3 class="h3" tabindex="0">Celebrate in Paradise</h3>
          {% endregionblock %}
          <div tabindex="0">
            {% regionblock groups_weddings_text1, type:text %}
            <p>Imagine: A ceremony overlooking the beautiful waters of Key West, followed by a romantic reception against this tropical backdrop. Ceremonies at Oceans Edge are nothing short of spectacular, and our professional planners assist with all aspects of your event:</p>
            {% endregionblock %}
            {% regionblock groups_weddings_text2, type:text %}
            <ul>
              <li>Group accommodations</li>
              <li>Catering</li>
              <li>Videography and photography</li>
            </ul>
            {% endregionblock %}
          </div>
          <div class="btn-holder">
            {% regionblock groups_weddings_btn, type:text %}
            <a class="btn" href="#RFPscroll">request for proposal</a>
            {% endregionblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="text-container">
  <div class="text-container__inner">
    {% regionblock groups_sentence_text, type:text %}
    <p class="overline">We were at the hotel as guests for a wedding, <span>our accommodations were lovely</span>, a 2-room suite with a balcony. All amenities were crisp and clean, with much <span>attention to detail</span> in the decor. Each and every staff member was friendly, greeting with <span>a smile on each encounter.</span> The visual effect was stunning! Everything went flawlessly at the reception. <span>We couldn't have enjoyed it more!</span></p>
    {% endregionblock %}
  </div>
</div>

<div class="two-images-wrap">
  <div class="two-images-wrap__inner">
    <div class="image">
      {% regionblock two_img1, type:image %}
      <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1573208111/mlde7iggkifpqbysfp1o.jpg" alt="ocean edge wedding couple">
      {% endregionblock %}
    </div>
    <div class="image">
      {% regionblock two_img2, type:image %}
      <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1573208146/grlnxpa9rhzbgfqj9mm1.jpg" alt="ocean edge flowers">
      {% endregionblock %}
    </div>
  </div>
</div>

<section class="groups-intro groups-intro--reverse groups-intro--full-screen">
  <div class="groups-intro__wrap">
    <div class="groups-intro__content-wrap">
      <div class="groups-intro__image">
        <div class="groups-intro__image__wrap">
          {% regionblock groups_meetings_img, type:image %}
          <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1573209453/vkhijqrcwsfgk8j2iqav.jpg" alt="Ocean Edge Meetings" />
          {% endregionblock %}
        </div>
      </div>
      <div class="groups-intro__content">
        <div class="groups-intro__content__detail">
          {% regionblock groups_meetings_subheader, type:header %}
          <h2 class="overline overline--italic dark" tabindex="0">Meet in Beautiful Key West</h2>
          {% endregionblock %}
          {% regionblock groups_meetings_header, type:header %}
          <h3 class="h3" tabindex="0">Intimate Venues, Exceptional Service</h3>
          {% endregionblock %}
          <div tabindex="0">
            {% regionblock groups_meetings_text1, type:text %}
            <p>Small corporate groups are extremely well cared for here. We offer meeting spaces, excellent planning services, and audiovisual equipment. Your group will enjoy:</p>
            {% endregionblock %}
            {% regionblock groups_meetings_text2, type:text %}
            <ul>
              <li>Oceanfront accommodations</li>
              <li>Excellent catering and on-site dining options</li>
              <li>Free shuttle to downtown Key West and other resort amenities</li>
            </ul>
            {% endregionblock %}
          </div>
          <div class="btn-holder">
            {% regionblock groups_meetings_btn, type:text %}
            <a class="btn" href="#RFPscroll">request for proposal</a>
            {% endregionblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="form-wrapper" id="RFPscroll">
  <div class="form-wrapper__inner text-center">
    {% regionblock groups_form_subheading, type:header %}
    <h3 class="overline overline--italic">Group Event Inquiry</h3>
    {% endregionblock %}
    {% regionblock groups_form_heading, type:header %}
    <h4 class="h3">Request for proposal</h4>
    {% endregionblock %}
    {% regionblock groups_form_content, type:text %}
    <p class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Ruis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    {% endregionblock %}
    {% regionblock groups_form_required, type:text %}
    <p><b>Required fields are marked *</b></p>
    {% endregionblock %}
    <hr>
    {% include forms/jotform/rfp.html %}
  </div>
</section>

<section class="common-cta">
  <div class="common-cta__img">
    {% regionblock groups_cta_img, type:image %}
      <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1573123050/omvtlv1lzvkgpqad3hpq.jpg" alt="Resort Exterior">
      {% endregionblock %}
  </div>
  <div class="common-cta__text text-center">
    {% regionblock groups_cta_subheading, type:header %}
    <p class="h4 light">The Resort</p>
    {% endregionblock %}
    {% regionblock groups_cta_heading, type:header %}
    <p class="h3 light">an exhilarating Key West escape</p>
    {% endregionblock %}
    {% regionblock groups_cta_btn, type:text %}
    <a href="/dining/" class="btn btn--light">Discover More</a>
    {% endregionblock %}
  </div>
</section>
