
body, p {
  font-family: $family-secondary;
  font-size: $base-font-size;
  line-height: $display5-size;
  color: $primary;
}

.cp-lc {
  font-family: $family-primary-lowercase;
  p, a {
    font-family: $family-primary-lowercase;
  }
}

//Headings

.h1 {
  font-family: $family-primary;
  font-size: $display1-size;
  line-height: $display1-size;
  color: $primary;
  text-align: center;
  letter-spacing: 2px;
}

.h2 {
  font-family: $family-secondary;
  font-size: $display2-size;
  line-height: $display1-size;
  color: $primary;
  text-align: center;

  &--italic {
    font-family: $family-secondary-italic;
  }
}

.h3 {
  font-family: $family-primary;
  font-size: $display4-size;
  line-height: $display4-size;
  color: $primary;
  text-align: center;
  letter-spacing: .4px;

  @include media-breakpoint-up(sm) {
    font-size: $display3-size;
    line-height: $display2-size;
    letter-spacing: .5px;
  }
}

.h4 {
  font-family: $family-primary-lowercase;
  font-size: $display6-size;
  line-height: $display5-size;
  color: $primary;

  @include media-breakpoint-up(sm) {
    font-size: $display5-size;
    line-height: $display4-size;
    letter-spacing: .2px;
  }
}

.h5 {
  font-family: $family-primary-lowercase;
  font-size: $base-font-size;
  line-height: $display5-size;
  color: $primary;
}

.h6 {
  font-family: $family-secondary;
  font-size: $display8-size;
  line-height: $base-font-size;
  color: $primary;
}

.overline {
  font-family: $family-secondary;
  font-size: $display7-size;
  line-height: $display5-size;
  color: $primary;

  @include media-breakpoint-up(md) {
    font-size: $display5-size;
    line-height: $display4-size;
  }

  &--italic {
    font-family: $family-secondary-italic;
  }
}

.light {
  color: $light !important;
}

.dark {
  color: $dark !important;
}
