{% assign slides = item.slides %}
{% assign container_style = '' %}
<section class="c-hero-slider tiny-slider {{item.advanced_options.custom_classes}}" {% if item.advanced_options.custom_id and item.advanced_options.custom_id != "" %}id="{{item.advanced_options.custom_id}}"{% endif %}  data-tns-controls="false" data-tns-nav="false" data-tns-autoplay-button-output="false" {{container_style}} >
    {% for slide in slides %}
      {% assign image=slide.image %}
      {% assign image_url = image.url_xlarge | default: image.url %}
      <div class="slider-item">
        <div style="background-image: url({{image_url}})" class="hero">
          <div class='h1 hero__title'>{{slide.title}}</div>
          <div class='hero__body'>{{slide.sub_title}}</div>
        </div>
      </div>
    {% endfor %}
</section>
