<div class="sps sps--abv">
  <!-- Blog Categories and Search Mobile -->
  {% if page.url != "/blog/" %}
  {% include blog-mobile-cat-search.html %}
  {% endif %}
  <!-- Blog Posts Search Desktop  -->
  <div class="blog__search-wrap d-none d-md-block">
    <h4 class="h5 mb-3" tabindex="0">Search</h4>
    <div class="blog__search">
      <form class="search-form" action="/blog/search/" method="get">
        <input type="text" class="blog__search__box" name="query" id="search-box" placeholder="Type search words here" aria-label="Search blogs">
        <button type="submit" class="blog__search__btn" aria-label="Click to search">
          <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1574131490/kvnjmvsusxdvwolfdla4.png" alt="Search Button">
        </button>
    </form>
    </div>
  </div>

  <!-- Blog Categories -->
  <div class="categories-wrap d-none d-md-block">
    <h4 class="h5 hline mb-3" tabindex="0"><span>Categories</span></h4>
    <ul class="categories-list">
      {% assign categories = site.data._models.blog_category %}
      {% for category in categories %}
      <li>
        <a href="/blog/category/{{ category.url_friendly_name }}/">{{ category.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

<!-- Blog Recent Posts -->
  <div class="blog__others">
    <h4 class="h5 hline mb-3" tabindex="0"><span>Recent Posts</span></h4>
    {% assign recentposts = site.data._models.posts | sort: 'date' | reverse %}
    {% for recentpost in recentposts | limit: 5 %}
    {% if recentpost.url_friendly_name != page.url_friendly_name %}
    <div class="blog__others__item">
      <a href="/blog/{{recentpost.url_friendly_name }}/" tabindex="-1">
        <!-- <div style="background-image:url('{{recentpost.image.url_xsmall}}');" class="bg-cover"></div> -->
        <div class="blog__others__image">
          <img src="{{ recentpost.image.url_xsmall }}" alt="{{ recentpost.title }}">
        </div>
        <div class="blog__others__item__right">
          <p class="h5 blog-subtitle" tabindex="0">{{ recentpost.title  | truncate: 60 }}</p>
        </div>
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <!-- Blog Subscription -->
  <div class="blog__subscribe d-none d-md-block">
    <h5 tabindex="0" class="overline"><span class="overline overline--italic">Subscribe</span> to our Blog</h5>
    {% include forms/jotform/blog-subscribe.html %}
  </div>

</div>
