<meta charset="utf-8">

{% include analytics.html %}

{% include seo.html %}

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/cd4c935d-659f-4680-9ff2-f92e9276b4c9.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css">


<link href='/favicon.ico' rel='shortcut icon' type='image/png'>
