{% comment %}
  note the nav.is-fixed-top must immediately precede div.main for div.main top-margin to work property
{% endcomment %}
<nav class="navbar is-fixed-top nav--main" id="js-navbar--main">
    <div class="container-fluid">
    <div class="wrapper">
      <a class="nav__link navbar-brand" href="#">
        <span class="nav__logo"
          data-live-edit-settings='hotel_settings'
          data-live-edit-settings-field='logo'
          data-live-editable-type='image'
        >
          {% if site.data.hotel_settings.logo and site.data.hotel_settings.logo.url and site.data.hotel_settings.logo.url != '' %}
            {% assign logo_url = site.data.hotel_settings.logo.url_xsmall | default: site.data.hotel_settings.logo.url %}
            <img src="{{logo_url}}" alt="{{site.data.hotel_settings.logo.alt | default: 'Logo' }}" />
          {% else %}
            <span class="condensed-hotel-name">{{site.data.hotel_settings.name}}</span>
          {% endif %}
        </span>
      </a>
      <div class="navbar__booking d-block d-lg-none">
        {% include components/booking-widget-mobile-button %}
      </div>
      <div class="navbar__group">
        <div class="navbar__offer d-none d-lg-block">
          <p>Exclusive Member Benefits Offer: <span>Save up to 25%</span> <a class="btn btn--tertiary-s2" href="#">find out more</a></p>
        </div>

        <div class="navbar__group__wrap sm-d-none">
          <div class="nav__items">
            <div class="nav--device">
              <ul navMenu>
                {% assign items = site.data._menus.mega.items %}
                {% include nav/nav-item-list.html items=items %}
              </ul>
            </div>
          </div>
          </div>

        <div class="navbar__group__wrap d-lg-flex">
          <div class="nav__items">
            <ul class="nav__featured">
              {% assign items = site.data._menus.featured.items %}
              {% include nav/nav-item-list.html items=items %}
            </ul>
            <ul class="nav__main">
              {% assign items = site.data._menus.main.items %}
              {% include nav/nav-item-list.html items=items %}
              <li><a role="button" aria-label="menu" aria-expanded="false" data-target="navMenu" class="navbar__burger">Menu</a></li>
            </ul>
            <div class="nav--device">
              <ul navMenu>
                {% assign items = site.data._menus.mega.items %}
                {% include nav/nav-item-list.html items=items %}
              </ul>
            </div>
          </div>
          <div class="navbar__booking">
            <a class="tel" href="tel:877-935-0862">(877) 935-0862</a>
            {% include components/booking-widget-button %}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
