// Activities Page Elements
// ==========================================================================

.activities-listing {
  @include make-container;
  max-width: 1254px;

  &__row {
    @include make-row;
  }

  &__item {
    @include make-col-ready;
    margin-bottom: 24px;

    @include media-breakpoint-up(md) {
      @include make-col(3);
      margin-bottom: 48px;
    }

    &__inner {
      border-radius: 16px;
      box-shadow: 0 12px 32px rgba($black, .15);
    }

    &__image {
      height: 192px;
      border-radius: 16px 16px 0 0;

      img {
        width: 100%;
        height: 100%;
        border-radius: 16px 16px 0 0;
        object-fit: cover;
      }
    }

    &__content {
      padding: 16px 24px 32px;
      border-radius: 0 0 16px 16px;

      .h5 {
        min-height: 65px;
        border-bottom: solid 1px $quartenary;
      }

      &__info {
        display: flex;
        justify-content: space-between;
        padding-top: 18px;

        .left {
          .price {
            font-family: $family-primary;
            font-size: $display9-size;
          }
        }
      }
    }
  }
}
