// Blog Page Elements
// ==========================================================================

.blog-filter {
  @include make-container;
  max-width: 1224px;
  padding: 30px 0 48px;
  border-top: 1px solid $t2;
  border-bottom: 1px solid $t2;
  &__wrap {
    @include make-row;
    margin: 0;
  }
  .heading {
    color: $dark;
  }
  &__left {
    @include make-col-ready;
    @include media-breakpoint-up(md) {
      @include make-col(8);
    }
    .blog-cat {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        margin: 2px 8px;
        &:first-child {
          margin-left: 0;
        }
        a {
          padding: 6px 12px;
          font-family: $family-primary;
          font-size: $display10-size;
          line-height: 14px;
          color: $medium;
          text-decoration: none;
          text-transform: lowercase;
          letter-spacing: .83px;
          background-color: $white;
          border: 1px solid $t2;
          border-radius: 16px;
          @include transition(.3s);
          &:hover, &.active {
            color: $white;
            background-color: $dark;
            border: 1px solid $dark;
          }
        }
      }
    }
  }
  &__right {
    @include make-col-ready;
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
    .search-from {
      position: relative;
      input {
        width: 100%;
        height: 40px;
        padding-left: 12px;
        background-color: $tertiary;
        border: 0;
        border-radius: 4px;
        &::-webkit-input-placeholder {
          font-size: $display8-size;
          line-height: 40px;
          color: $medium;
          opacity: .7;
        }
      }
      .search-btn {
        position: absolute;
        top: 8px;
        right: 12px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        background-color: $dark;
        border: 0;
        border-radius: 50%;
      }
    }
  }
}

.category-selection {
  position: relative;
  width: 194px;
  margin: 0 auto;
  padding-top: 45px;

  .cat-dropdown {
    width: 100%;
    height: 48px;
    padding: 11px 12px;
    font-family: $family-primary;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
    background-color: transparent;
    border: solid 1px $primary;

    &:focus {
      outline: none;
    }

    svg {
      margin-left: 10px;
    }
  }

  .dropdown-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $gray-300;
    border: 0;
    border-radius: 0;
  }

  .dropdown-item {
    padding: 7px 15px;
    font-size: 16px;
    color: $white;

    &:hover {
      background-color: $primary;
    }
  }
}

.blog {
  overflow: hidden;
  @include media-breakpoint-up(md) {
    margin-top: 60px;
  }

  &__container {
    @include make-container;
    max-width: 1237px;
  }

  .intro-section {
    max-width: 840px;
    margin: 0 auto;
    padding: 0 15px 30px;
    text-align: center;

    .h2 {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  &__row {
    @include make-row;
  }

  &__list {
    @include make-col-ready;
    @include media-breakpoint-up(md) {
      @include make-col(8.5);
    }
  }

  .category-description {
    h2 {
      margin-bottom: 24px;
    }
  }

  &__item {
    margin-bottom: 40px;
    background-color: $white;
    border-bottom: 1px dashed $gray-400;

    &:last-child {
      margin-bottom: 0;
    }

    &__body {
      padding: 0 0 40px;

      .h3 {
        a {
          color: $primary;
          text-decoration: none;
        }
      }
    }

    .h4 {
      margin-bottom: 22px;

      a {
        display: block;
        color: $primary;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &__image {
    margin-bottom: 20px;
    overflow: hidden;
    line-height: 0;
    background-color: $black;

    img {
      width: 100%;
      transition: all 0.3s ease-in-out;

      &:hover {
        opacity: 0.8;
        transform: scale(1.05);
      }
    }
  }

  &__catlanding {
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: solid 1px $gray-300;
  }

  &__catheading {
    margin-bottom: 30px;
  }

  &__caption {
    margin-top: 5px;
    font-size: 16px;
    text-align: right;
  }

  &__info {
    margin: 15px 0;
    font-size: $display9-size;
    line-height: normal;
    color: $gray-600;
  }

  &__date {
    font-size: $display9-size;
    color: $gray-600;
  }

  &__category {
    display: block;
    padding: 8px 0 0;
    font-size: $display9-size;
    line-height: normal;
    color: $gray-600;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s;
    @include media-breakpoint-up(md) {
      display: inline-block;
      margin-left: 8px;
      padding: 0 15px;
      border-left: solid 1px $gray-600;
    }

    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }

  .cta-block {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 24px;
    align-content: center;

    .button {
      background-color: $white;
    }

    .blog-prev-next {
      padding-top: 10px;
      font-size: $display8-size;
      line-height: 50px;
      background-color: $white;

      .fas {
        font-size: $base-font-size;
        vertical-align: text-top;
      }

      a {
        padding-left: 20px;
        color: $primary;
        text-transform: uppercase;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .social-links {
      display: flex;
      justify-content: center;
      padding: 10px;
      line-height: 50px;
      background-color: $white;

      a {
        padding-right: 20px;
        font-size: 14px;
        color: $primary;
        transition: all 0.3s ease;

        &:last-child {
          padding-right: 0;
        }

        &:hover {
          color: $primary;
        }
      }
    }
  }

  &__aside {
    @include make-col-ready;
    margin-left: auto;
    @include media-breakpoint-up(md) {
      @include make-col(4);
      order: 2;
    }
    @include media-breakpoint-up(lg) {
      @include make-col(3.5);
    }

    .h3 {
      margin-bottom: 25px;
    }

    .block {
      &__info {
        margin: 0 0 10px;
      }
    }
  }

  &__search-wrap {
    position: relative;
    padding: 30px 15px 0;
    @include media-breakpoint-up(md) {
      margin-bottom: 30px;
      padding: 0;
    }
  }

  &__search {
    position: relative;

    &:hover {
      &:after {
        width: 100%;
      }
    }

    &__box {
      width: 100%;
      padding: 15px 20px;
      background-color: transparent;
      border: solid 1px $primary;
      border-radius: 0;

      &:focus {
        outline: none;
      }
      .fas {
        font-size: $base-font-size;
        color: $gray-600;
      }
    }

    &__btn {
      position: absolute;
      top: 0;
      right: 0;
      padding: 11px;
      font-size: 20px;
      cursor: pointer;
      background-color: transparent;
      border: 0;

      &:focus {
        outline: line;
      }
    }
  }

  &__others {
    position: relative;
    background-color: $white;
    @include media-breakpoint-up(md) {
      margin-bottom: 48px;
    }

    &:after {
      position: absolute;
      top: 0;
      right: -1000%;
      bottom: 0;
      left: 0;
      z-index: -1;
      content: '';
      background-color: $white;
    }

    &__item {
      margin-bottom: 24px;
      border-bottom: 1px dashed $gray-300;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: flex;
        align-items: center;
        overflow: hidden;
        color: $primary;

        .blog-subtitle {
          margin-bottom: 5px;
          color: $primary;
        }

        .blog-info {
          margin-bottom: 0;
        }

        .blog__date {
          font-size: $display8-size;
          color: $gray-600;
        }

        &:hover {
          text-decoration: none;
        }
      }

      figure {
        display: block;
        width: 30%;
        height: 80px;
        margin: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
      // &__right {
      //   width: 65%;
      //   margin-left: 5%;
      // }
    }
  }

  .toggle-arrow {
    position: absolute;
    right: 10px;
    display: inline-block;
    padding: 3px 15px;
    cursor: pointer;
    transition: all 0.3s;
    @include media-breakpoint-up(md) {
      display: none;
    }

    &.rotate {
      transform: rotate(180deg);
    }
  }

  .categories-wrap {
    @include media-breakpoint-up(md) {
      margin-bottom: 48px;
    }
  }

  .categories-list {
    margin: 0;
    padding: 0 15px;
    @include media-breakpoint-up(md) {
      padding: 0;
    }

    li {
      position: relative;
      list-style-type: none;
      border-bottom: solid 1px $white;

      &:first-child {
        border-bottom: solid 1px $white;
      }

      a {
        position: relative;
        display: block;
        padding: 10px 0;
        font-size: $display8-size;
        text-transform: uppercase;
        letter-spacing: 1px;

        &:hover {
          color: $primary;
          text-decoration: none;
          background-color: $white;
        }
      }
    }
  }

  &__subscribe {
    position: relative;
    padding: 40px 24px 50px;
    background-color: $primary;

    &:after {
      position: absolute;
      top: 0;
      right: -1000%;
      bottom: 0;
      left: 0;
      z-index: -1;
      content: '';
      background-color: $primary;
    }
    @include media-breakpoint-up(lg) {
      padding: 40px 24px 50px;
    }

    p {
      margin-bottom: 10px;
      font-family: $family-primary;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1.75px;
    }

    .form-group {
      position: relative;
      padding-right: 60px;
    }

    .form-control {
      margin-bottom: 20px;
    }

    .btn-arrow {
      position: absolute;
      top: 9px;
      right: 0;
      padding: 10px;
      cursor: pointer;
      background-color: transparent;
      border: solid 1px $primary;
      border-radius: 0;
      transition: all 0.3s;

      i {
        color: $primary;
      }

      &:hover {
        background-color: $primary;

        i {
          color: $white;
        }
      }
    }
  }

  &--single {
    margin-top: 60px;

    .blog__item {
      background-color: transparent;

      .h3 {
        margin-bottom: 20px;
        color: $primary;
      }

      .blog__image {
        margin-bottom: 24px;
      }

      .h4 {
        margin-bottom: 15px;
        color: $primary;

        a {
          color: $primary;
        }
      }

      h4 {
        @extend .h5;
        margin-bottom: 24px;
      }

      p {
        a {
          color: $primary;
          text-decoration: underline;
        }
      }

      img {
        width: 100%;
        height: auto;
      }

      .blog__info {
        margin-bottom: 32px;
      }
    }

    &__social {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 22px 0 0;
      border-top: solid 1px $secondary;
      @include media-breakpoint-up(md) {
        flex-direction: row;
        align-items: center;
      }
    }
  }

  &__share {
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }

    span {
      display: inline-block;
      font-family: $family-secondary;
      font-size: $display8-size;
      color: $secondary;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    a {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-left: 20px;
      font-size: 11px;
      color: $secondary;
      text-align: center;
      background-color: $white;
      transition: all 0.3s;

      &:hover {
        color: $primary;
      }
    }
  }

  &--search-data {
    margin-top: 60px;

    .blog__item {
      margin-bottom: 24px;
      @include media-breakpoint-up(md) {
        margin-bottom: 48px;
      }

      .h3 {
        margin-bottom: 30px;
      }
    }

    .blog__search-wrap {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__results {
    margin: 0;
    padding: 0;

    li {
      padding: 0 0 20px;
      list-style-type: none;
      @include media-breakpoint-up(md) {
        padding: 0 0 40px;
      }

      .h4 {
        margin-bottom: 24px;
      }

      a {
        &:hover {
          text-decoration: none;
        }
      }
    }

    .btn-holder {
      margin-top: 10px;
    }
  }

  &--related {
    padding: 40px 0;
    background-color: $white;
    @include media-breakpoint-up(md) {
      padding: 64px 0;
    }
  }

  &__related {
    .h4 {
      margin-bottom: 24px;
    }

    &__row {
      @include make-row;
    }

    &__image {
      display: block;
      height: 180px;
      margin-bottom: 24px;
    }

    &__item {
      @include make-col-ready;
      margin-bottom: 24px;
      @include media-breakpoint-up(md) {
        @include make-col(4);
      }

      .h6 {
        a {
          text-decoration: none;
        }
      }
    }
  }
}
// pagination
.page-number {
  margin-bottom: 20px;
  font-family: $family-primary;
  font-size: 16px;
}

.pagination {
  border-radius: 0;

  .page-item {
    margin-right: 1px;

    &.disabled {
      .primary-btn {
        cursor: default;
        opacity: 0.4;
      }
    }
  }
}
// Blog details previous next
.pagenav {
  margin-top: 30px;
  margin-bottom: 40px;

  a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: $family-primary;
    font-size: 13px;
    font-weight: 600;
    color: $black;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
      text-decoration: none;
    }
  }

  .fa {
    font-size: 20px;
    vertical-align: text-bottom;
  }

  .prev {
    padding-right: 10px;

    .fa {
      padding: 0 10px 0 0;
    }
  }

  .next {
    padding-left: 10px;

    .fa {
      padding: 0 0 0 10px;
    }
  }
}

.blog-cta {
  h2 {
    max-width: 600px;
    margin: 0 auto 30px;
    color: $white;
  }

  p {
    max-width: 600px;
    margin: 0 auto 40px;
    color: $white;
  }
}

.mobile-cat-search {
  display: block;
  margin-bottom: 40px;
  @include media-breakpoint-up(md) {
    display: none;
    margin-bottom: 0;
  }

  &__tabs {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    li {
      width: 50%;
      list-style-type: none;

      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 24px;
        font-family: $family-secondary;
        font-size: $display7-size;
        color: $primary;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: $gray-100;

        i {
          font-size: 14px;
          transition: all 0.3s;
        }

        &.active {
          background-color: $white;

          i {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
