.two-col-carousels {
  @include make-container;
  max-width: 1224px;
  &__wrap {
    @include make-row;
    margin: 0;
  }
  &__left {
    @include make-col-ready;
    @include media-breakpoint-up(md) {
      @include make-col(6);
      border-right: 1px solid rgba($white, .6);
    }
    padding-right: 23px;
    padding-left: 0;
  }
  &__right {
    @include make-col-ready;
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    padding-right: 23px;
    padding-left: 0;
  }
}
