
.hero-inner {
  .hero-carousel__wrap {
    height: 280px;

    @include media-breakpoint-up(md) {
      height: 712px;
    }

    .tt-region_ped, .tt-region {
      height: inherit;
    }
  }

  .hero-carousel__intro {
    @include media-breakpoint-down(sm) {
      margin-top: 0;
    }
  }
}

.heading-line-through {

  position: relative;
  max-width: 1224px;
  margin: 0 auto 32px;
  padding-top: 24px;
  text-align: center;
  border-top: solid 1px $t2;

  @include media-breakpoint-up(md) {
    margin: 0 auto 24px;
    padding-top: 0;
    border: 0;
  }

  &:before {
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      z-index: -1;
      height: 1px;
      content: '';
      background: $t2;
    }
  }

  .h2 {
    text-transform: none;
  }

  b {
    font-weight: normal;
  }

  &__text {
    position: relative;
    z-index: 0;
    padding: 0 20px;
    background: $white;
  }
}

.large-card {
  @include make-container;
  max-width: 1254px;

  &__row {
    @include make-row;
  }

  &__item {
    @include make-col-ready;
    margin-bottom: 24px;
    border-radius: 16px;

    @include media-breakpoint-up(md) {
      @include make-col(6);
      margin-bottom: 0;
    }

    &__image {
      height: 250px;
      line-height: 0;

      @include media-breakpoint-up(md) {
        height: 352px;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 16px;
        object-fit: cover;
      }
    }

    &__inner {
      position: relative;
      border-radius: 16px;
      box-shadow: 0 12px 32px rgba($black, .15);
    }

    &__wrap {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 32px;
      background-color: $overlay;
      border-radius: 16px;
      @include absolute-position(0,0,0,0,auto,auto);
      @include linearGradient(180deg, rgba($white, .25) 0%, rgba($overlay-color, .5) 100%);

      .h4 {
        position: relative;
        margin-bottom: 24px;

        a {
          color: $white;

          &:after {
            position: relative;
            margin-left: 10px;
            font-family: $oceansedge-font-family;
            font-size: 85%;
            content: $icon-chevron-right;
            opacity: .5;
            @include transition(.3s);
          }

          &:hover {
            text-decoration: none;

            &:after {
              opacity: 1;
            }
          }
        }
      }
    }

    &__content {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      border-top: solid 1px rgba($white, .6);

      p {
        max-width: 72%;
        margin: 0;
        padding: 16px 24px 0 0;
        color: $white;
        border-right: solid 1px rgba($white, .6);
      }
    }

    &__button {
      padding-left: 24px;
    }
  }
}

.asset-list {
  &--variant {
    .asset-item__text-group__wrap {
      min-height: auto;

      @include media-breakpoint-up(md) {
        min-height: 200px;
      }

      .row {
        .col-9 {
          padding-top: 0;
        }

        p {
          margin: 0 24px 0 0;
          padding-top: 16px;
          padding-right: 24px;
          border-right: solid 1px $t2;
        }
      }
    }
  }

  &__header {
    padding: 0 15px;
    text-align: center;

    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: space-between;
      text-align: left;
    }

    .h4 {
      margin-bottom: 24px;

      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }
  }

  .asset-list-carousel {
    .asset-item {
      flex: none;
    }

    &__controls {
      display: flex;
      justify-content: space-between;
      width: 75%;
      margin: 0 auto;
    }
  }
}

.twocol-cs {
  @include make-container;
  width: auto;
  max-width: none;

  &__row {
    @include make-row;
  }

  &__item {
    @include make-col-ready;
    margin-bottom: 24px;
    padding: 0;

    @include media-breakpoint-up(md) {
      @include make-col(6);
      margin-bottom: 0;
    }

    &:nth-child(even) {
      @include media-breakpoint-up(md) {
        padding-left: 15px;
      }
    }

    &:nth-child(odd) {
      @include media-breakpoint-up(md) {
        padding-right: 15px;
      }
    }

    &__inner {
      position: relative;
    }

    &__image {
      height: 384px;

      @include media-breakpoint-up(md) {
        height: 664px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .tt-region_ped, .tt-region {
        height: inherit;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 24px;
      @include absolute-position(0,0,0,0,auto,auto);
      background-color: rgba($overlay-color, .6);

      @include media-breakpoint-up(lg) {
        padding: 0 20%;
      }

      .overline {
        margin-bottom: 8px;
      }

      .h3 {
        margin-bottom: 32px;
      }
    }
  }
}

.offers-cross-sell__no-nav {
  width: 100%;
  background: $tertiary;

  .asset-list__header {
    padding-top: 50px;
    text-align: left;

    .content {
      max-width: 100%;

      @include media-breakpoint-up(md) {
        max-width: 65%;
      }
    }

    p {
      font-size: $display6-size;
      color: $dark;
    }
  }

  .asset-list-carousel__controls {
    display: none;
  }
}
