---
layout: default
---

{% assign item = page.data %}

<section class="offers-cross-sell offers-cross-sell--full-screen offers-cross-sell--offer-details">
  <div class="offers-cross-sell__wrap">
    <div class="offers-cross-sell__content-wrap">
      <div class="offers-cross-sell__image">
        <div class="offers-cross-sell__image__wrap">
          <img src="{{ item.image.url_medium }}" alt="{{ item.image.alt }}" />
        </div>
      </div>
      <div class="offers-cross-sell__content">
        <div class="offers-cross-sell__content__detail">
          <div class="d-inline-block mb-2">
            <a class="btn btn--tertiary btn--reverse" href="/activities/">back</a>
          </div>
          <h1 class="h3" tabindex="0">{{ item.name }}</h1>
          <hr class="mb-3">
          <div tabindex="0">{{ item.description }}</div>
          <div tabindex="0"><p>{{ item.terms_conditions }}</p></div>
          <div tabindex="0"><p>{{ item.price }}</p></div>
          <div class="btn-holder mb-0">
            <a class="btn btn--book" href="#" target="_blank">Book Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="activities-listing activities-listing--more mt-55">
  <hr class="mb-3">
  <div class="asset-list__header">
    <h2 class="h4">More Activities</h2>
    <a href="/activities/" class="btn">View all Activities</a>
  </div>
  <div class="activities-listing__row activities-list-carousel">
  {% assign activities = site.data._models.activities | sort: 'order' %}
  {% for item in activities %}
  {% if item.complimentary-resort-activities != true %}
    <div class="activities-listing__item">
      <div class="activities-listing__item__inner">
        <div class="activities-listing__item__image" tabindex="0">
          <a href="{{ item.url_friendly_name }}">
            <img src="{{ item.image.url_medium }}" alt="{{ item.image.alt }}">
          </a>
        </div>
        <div class="activities-listing__item__content">
          <h4 class="h5" tabindex="0">
            <a href="{{ item.url_friendly_name | permalink: model_dir: 'activities' }}">{{ item.name }}</a>
          </h4>
          <div class="activities-listing__item__content__info">
            <div class="left">
              <!-- <p class="h6 mb-1" tabindex="0">{{ item.terms_conditions }}</p>
              <p class="price mb-0" tabindex="0">{{ item.price }}</p> -->
            </div>
            <div class="right">
              <a class="btn btn--secondary" href="{{ item.url_friendly_name }}">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% endfor %}
  </div>

  <div class="carousel-controls" id="activitiesCarouselNav">
    <a class="iconbtn iconbtn--left" data-controls="prev" tabindex="-1" href="javascript:void(0)" title="Previous Slide"></a>
    <a class="iconbtn iconbtn--right" data-controls="next" tabindex="-1" href="javascript:void(0)" title="Next Slide"></a>
  </div>
</section>

<section class="common-cta mt-55">
  <div class="common-cta__img">
      <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1573123050/omvtlv1lzvkgpqad3hpq.jpg" alt="Resort Exterior">
  </div>
  <div class="common-cta__text text-center">
      <p class="h4 light">The Resort</p>
      <p class="h3 light">an exhilarating Key West escape</p>
      <a href="/dining/" class="btn btn--light">Discover More</a>
  </div>
</section>
