---
layout: default
---

{% assign item = page.data %}

<section class="offers-cross-sell offers-cross-sell--full-screen offers-cross-sell--offer-details">
  <div class="offers-cross-sell__wrap">
    <div class="offers-cross-sell__content-wrap">
      <div class="offers-cross-sell__image">
        <div class="offers-cross-sell__image__wrap">
          <img src="{{ item.image.url_medium }}" alt="{{ item.image.alt }}" />
        </div>
      </div>
      <div class="offers-cross-sell__content">
        <div class="offers-cross-sell__content__detail">
          <div class="d-inline-block mb-2">
            <a class="btn btn--tertiary btn--reverse" href="/adventures/">back</a>
          </div>
          <p class="overline overline--italic">{{ item.category.name }}</p>
          <h1 class="h3" tabindex="0">{{ item.name }}</h1>
          <hr class="mb-3">
          <div tabindex="0">{{ item.description }}</div>
          <!-- <div tabindex="0"><p>{{ item.terms_conditions }}</p></div>
          <div tabindex="0"><p>{{ item.price }}</p></div> -->
          {% if item.book_tickets_btn == true %}
          <div class="btn-holder mb-0">
            <a class="btn btn--book" href="{{ item.book_now_btn_link }}" target="_blank">Book Tickets</a>
          </div>
          {% endif %}
          <div class="hours-booking">
            <div class="hours-booking__left">
              <p class="h6">Tour Hours:</p>
              <div class="hours-booking__details">
                {% if item.tour_hours %}
                  <p>{{ item.tour_hours }}</p>
                {% endif %}
              </div>
            </div>
            <div class="hours-booking__right">
              <p class="h6">Booking Details:</p>
              <div class="hours-booking__details">
                <p>{% if item.booking_phone %}Inquiries: {{ item.booking_phone }}{% endif %}{% if item.booking_website and item.booking_website != '' %}<br>Website: <a href="{{ item.booking_website }}" target="_blank">{{ item.booking_website }}</a>	{% endif %}</p>
              </div>
              {% if item.book_tickets_button == true %}
              <a href="{{ item.book_tickets_link }}" class="btn btn--book-small mt-3" target="_blank">Book Tickets</a>
              {% endif %}
            </div>
          </div>
          <div class="social-share">
            <p class="h5" tabindex="0"><span>Share</span></p>
            <div class="social-media">
              <a href="https://facebook.com/sharer.php?u={{ site.url }}/adventures/{{ item.url_friendly_name }}/" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fab fa-facebook-f"></i></a>
              <a href="https://twitter.com/intent/tweet?text={{ item.name }}&url={{ site.url }}/adventures/{{ item.url_friendly_name }}/&via={{ site.data.social.twitter.username }}&related={{ site.data.social.twitter.username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fab fa-twitter"></i></a>
              <a href="mailto:?Subject={{ item.name }}&amp;Body={{ item.name }} {{ site.url }}/adventures/{{ item.url_friendly_name }}/" title="Share via Email"><i class="far fa-envelope"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="activities-listing activities-listing--more mt-55">
  <hr class="mb-3">
  <div class="asset-list__header">
    <h2 class="h4">More {{ item.category.name }}</h2>
    <a href="/adventures/" class="btn">View all Adventures</a>
  </div>
  <div class="activities-listing__row activities-list-carousel">
  {% assign adventures = site.data._models.adventures | sort: 'order' %}
  {% for adventure in adventures %}
  {% if adventure.our-concierge-recommends != true %}
  {% if item.category.name == adventure.category.name %}
    <div class="activities-listing__item">
      <div class="activities-listing__item__inner">
        <div class="activities-listing__item__image" tabindex="0">
          <a href="{{ adventure.url_friendly_name }}">
            <img src="{{ adventure.image.url_medium }}" alt="{{ adventure.image.alt }}">
          </a>
        </div>
        <div class="activities-listing__item__content">
          <h3 class="h5" tabindex="0">
            <a href="{{ adventure.url_friendly_name | permalink: model_dir: 'adventures' }}">{{ item.name }}</a>
          </h3>
          <div class="activities-listing__item__content__info">
            <div class="left">
              <!-- <p class="h6 mb-1" tabindex="0">{{ item.terms_conditions }}</p>
              <p class="price mb-0" tabindex="0">{{ item.price }}</p> -->
            </div>
            <div class="right">
              <a class="btn btn--secondary" href="{{ adventure.url_friendly_name }}">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% endif %}
  {% endfor %}
  </div>

  <div class="carousel-controls" id="activitiesCarouselNav">
    <a class="iconbtn iconbtn--left" data-controls="prev" tabindex="-1" href="javascript:void(0)" title="Previous Slide"></a>
    <a class="iconbtn iconbtn--right" data-controls="next" tabindex="-1" href="javascript:void(0)" title="Next Slide"></a>
  </div>
</section>

<section class="common-cta mt-55">
  <div class="common-cta__img">
      <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1573123050/omvtlv1lzvkgpqad3hpq.jpg" alt="Resort Exterior">
  </div>
  <div class="common-cta__text text-center">
      <p class="h4 light">The Resort</p>
      <p class="h3 light">an exhilarating Key West escape</p>
      <a href="/resort/" class="btn btn--light">Discover More</a>
  </div>
</section>
