---
layout: default
---
{% assign blog_category = page.data %}
<section class="hero-static">
  <div class="hero-static__wrap">
    <img src="{{blog_category.image.url_xlarge}}" alt="Amenities Hero Image">
  </div>
  <div class="hero-static__intro">
    <h1 class="overline overline--italic text-center dark" tabindex="0">Oceans Edge Key West Blog</h1>
    <h2 class="h1" tabindex="0">{{blog_category.name}}</h2>
    <div class="description" tabindex="0">
      <p>{{blog_category.description}}</p>
    </div>
  </div>
</section>

<section class="blog blog-cat-listing">
  <div class="blog-cat-listing__row">
    <div class="blog-cat-listing__list p-0">
      <div class="asset-list asset-list--happenings-list asset-list--blog-list asset-list--blog-list--latest p-0">
        {% assign posts = site.data._models.posts | where: "blog_category.name", blog_category.name | sort: "date" | reverse %}
        <div class="asset-list__items m-0">
          {% for post in posts %}
          <div class="asset-item">
            <div class="asset-item__wrap">
              <div class="asset-item__featured-image">
                <img class="objectfit" src="{{ post.image.url_medium }}" alt="{{post.name}}">
              </div>
              <div class="asset-item__text-group">
                <div class="asset-item__text-group__wrap">
                  <div class="post-info">
                    <span class="cat">
                      {{ post.blog_category.name }}
                    </span>
                    <span class="blog-date">
                      {{ post.date | date: "%B %d, %Y" }}
                    </span>
                  </div>
                  <h3 class="h4">{{ post.title }}</h3>
                  <p class="description">{{ post.post_content | strip_html | truncate: 80 }}</p>
                  <div class="row">
                    <div class="col-9">
                      <a href="/blog/{{post.url_friendly_name}}/" class="btn btn--light">Read More</a>
                    </div>
                    <div class="col-3">
                      <!-- <a class="btn btn--secondary" href="{{ happening.cta_link }}" target="_blank">{{ happening.cta_label }}</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="blog__aside">
      <div class="blog__aside__inner">
        {% include blog-sidebar.html %}
      </div>
    </div>
  </div>
</section>

<section class="common-cta">
  <div class="common-cta__img">
    <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_fit,h_1200,w_1200/v1573123050/omvtlv1lzvkgpqad3hpq.jpg" alt="">
  </div>
  <div class="common-cta__text text-center">
    <p class="h4 light">The Resort</p>
    <p class="h3 light">an exhilarating Key West escape</p>
    <a href="/resort/" class="btn btn--light">Discover More</a>
  </div>
</section>
