---
layout: generic
---
<section class="hero-static">
  <div class="hero-static__wrap">
    {% regionblock carousel_intro_hero, type:image %}
      <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1572862857/vcfgv0zfn5w9jtap2koi.jpg" alt="Amenities Hero Image">
    {% endregionblock %}
  </div>
  <div class="hero-static__intro">
    {% regionblock carousel_intro_tagline, type:text %}
      <h1 class="overline overline--italic text-center dark" tabindex="0">Why Is Oceans Edge the Best Hotel in Key West?</h1>
    {% endregionblock %}
    {% regionblock carousel_intro_heading, type:header %}
      <h2 class="h1" tabindex="0">Upscale Amenities for Every Guest</h2>
    {% endregionblock %}
    <div class="description" tabindex="0">
      {% regionblock carousel_intro_description, type:text %}
        <p>Oceans Edge Resort & Marina has been carefully designed as a self-contained haven while providing the means for our guests to easily experience the natural beauty and culture of Stock Island and Key West. Your first stop will likely be one of our six saltwater swimming pools—all at the perfect temperature, all the time. Discover our offerings in the list below, and learn more about <b><a href="/stay/">our luxurious accommodations</a></b>.</p>
      {% endregionblock %}
    </div>
  </div>
</section>

{% assign blog_categories = site.data._models.blog_category | sort: "order" %}

<section class="blog-filter">
  <div class="blog-filter__wrap">
    <div class="blog-filter__left">
      <p class="heading">Select a story category:</p>
      <ul class="blog-cat">
        <li>
          <a href="/blog/">All</a>
        </li>
        {% for blog_category in blog_categories %}
          <li>
            <a href="/blog/category/{{blog_category.url_friendly_name}}/">{{blog_category.name}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="blog-filter__right">
      <p class="heading">Search:</p>
      <form class="search-from" action="/search/" method="get">
        <input type="text" name="" value="" placeholder="Type search words here">
        <button type="submit" name="button" class="search-btn">
          <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1574131490/kvnjmvsusxdvwolfdla4.png" alt="Search">
        </button>
      </form>
    </div>
  </div>
</section>

<section class="asset-list asset-list--happenings-list asset-list--blog-list">
  {% assign blog_categories = site.data._models.blog_category | sort: "order" %}
  {% for blog_cat in blog_categories %}
    {% assign posts = site.data._models.posts | where: "blog_category.name", blog_cat.name | sort: "date" %}
    {% if posts.size > 0 %}
      <div class="happening-category">
        <h2 class="h4">{{blog_cat.name}}</h2>
        <p class="cat-desc">{{blog_cat.description}}</p>
      </div>
      <div class="asset-list__items">
        {% for post in posts | limit: "3" %}
          <div class="asset-item">
          <div class="asset-item__wrap">
            <div class="asset-item__featured-image">
              <img class="objectfit" src="{{post.image.url_medium}}" alt="{{post.name}}">
            </div>
            <div class="asset-item__text-group">
              <div class="asset-item__text-group__wrap">
                <h3 class="h4">{{ post.title }}</h3>
                <p class="description">{{post.post_excerpt}}</p>
                <div class="row">
                  <div class="col-9">
                    <a href="/blog/{{post.url_friendly_name}}" class="btn btn--light">Read More</a>
                  </div>
                  <div class="col-3">
                    <!-- <a class="btn btn--secondary" href="{{ happening.cta_link }}" target="_blank">{{ happening.cta_label }}</a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
</section>

<section class="blog">
  <!-- Blog Categories and Search Mobile -->
  {% include blog-mobile-cat-search.html %}
  <!-- End Blog Categories and Search Mobile -->
  <div class="blog__container">
    <div class="blog__row">
      <div class="blog__list">
        <div class="blog__category-heading">
          {% assign categories = site.data._models.blog_category %}
          {% for category in categories %}
          <div class="category-description" id="catDes_{{ category.category_title | replace: ' ', '-' | replace: '&', 'and' | downcase }}" style="display: none">
            <h2 class="h2" tabindex="0">{{category.category_title}}</h2>
            <!-- <p tabindex="0">{{category.category_description}}</p> -->
          </div>
          {% endfor %}
        </div>
        {% assign blog-posts = site.data._models.posts | sort: 'date' | reverse %}
        {% for post in blog-posts %}
        <div class="blog__item filter-item" data-filter="{{ post.blog_category.category_title | replace: ' ', '-' | replace: '&', 'and' | downcase }}">
          {% if post.image.url_medium %}
          <figure class="blog__image">
            <a href="/blog/{{ post.url_friendly_name }}" tabindex="-1">
              <img src="{{ post.image.url_medium }}" alt="{{ post.title }}">
            </a>
          </figure>
          {% endif %}
          <div class="blog__item__body">
            <h3 class="h3">
              <a href="/blog/{{ post.url_friendly_name }}/">{{ post.title }}</a>
            </h3>
            <div class="blog__info">
              <span class="blog__date" tabindex="0">
                {{ post.date | date: '%B %d, %Y' }}
              </span>
              <a class="blog__category" href="/blog/?c={{ post.blog_category.category_title | replace: ' ', '-' | replace: '&', 'and' | downcase }}">{{ post.blog_category.category_title }}</a>
            </div>
            <div tabindex="0">
              {% assign excerpt = post.post_excerpt %}
              {% if excerpt == '' or excerpt == nil %}
              {% assign excerpt = post.post_content | strip_html | truncatewords: 40 %}
              {% endif %}
              {% if excerpt and excerpt != '' %}
              <p>{{ excerpt }}</p>
              {% endif %}
            </div>
            <div class="cta-block">
              <!-- <div class="social-links">
                        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}/blog/{{ post.url_friendly_name }}/&via={{ site.data.social.twitter.username }}&related={{ site.data.social.twitter.username }}" rel="nofollow" target="_blank" title="Share on Twitter">
                          <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://facebook.com/sharer.php?u={{ site.url }}/blog/{{ post.url_friendly_name }}/" rel="nofollow" target="_blank" title="Share on Facebook">
                          <i class="fab fa-facebook-f"></i>
                        </a>
                      </div> -->
              <div class="button">
                <a class="btn btn--secondary" href="/blog/{{ post.url_friendly_name }}">Read More</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="blog__aside">
        {% include blog-sidebar.html %}
      </div>
    </div>
  </div>
</section>
