<!DOCTYPE html>
<html lang="{{ site.active_lang | slice: 0,2 | default: "en" }}" class="no-js">

{% comment %}
This default layout should generally not be overridden.
It contains all of the page structure that should work for any site and ensures SEO properties and scripts are properly included.
{% endcomment %}

<head>
  {% include head.html %}

  {% include scripts.html %}

  {% include head/custom.html %}

</head>

<body>
  <div class="preloader" id="preloader">
    <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1562590704/tndaevvgo7mu12l67egq.gif" alt="Loading">
  </div>
  {% include components/booking-widget %}


  {% if site.data.analytics.gtm_tracking_id and page.analytics != false %}
      {% include analytics/gtm-body.html %}
  {% endif %}

  {% if site.data.analytics.custom_body and page.analytics != false %}
    {% comment %}Drop the _data/analytics.yml specified code directly here {% endcomment %}
    {{ site.data.analytics.custom_body  }}
  {% endif %}

  <a class="skip-main" href="#main">Skip to main content</a>

  {% include nav-main.html %}

  <div class='main'>
    {{ content }}
  </div>

  {% include components/instagram %}
  {% include sticky-footer-nav.html %}

  <footer class="footer">
    {% include footer.html %}
    {% include footer/custom.html %}
  </footer>


</body>

</html>
