---
layout: default
---

<section class="hero-carousel">
  <div class="hero-carousel__wrap">
    {% assign items = site.data._models.hero_carousel | sort: order %}
    {% for item in items %}
    <img src="{{ item.image.url_xlarge }}" alt= "{{ item.name }}" />
    {% endfor %}

  </div>
  <div class="hero-carousel__controls" id="heroNav">
    <a class="iconbtn iconbtn--left" data-controls="prev" tabindex="-1" href="javascript:void(0)" title="Previous Image"></a>
    <a class="iconbtn iconbtn--right" data-controls="next" tabindex="-1" href="javascript:void(0)" title="Next Image"></a>
  </div>
  <div class="hero-carousel__intro">
    {% regionblock carousel_intro_tagline, type:text %}
    <p class="overline overline--italic text-center dark" tabindex="0">Welcome to Ocean’s Edge Key West</p>
    {% endregionblock %}
    {% regionblock carousel_intro_heading, type:header %}
    <h1 class="h1" tabindex="0">key west’s mosT iconic resort</h1>
    {% endregionblock %}
    <div class="description" tabindex="0">
      {% regionblock carousel_intro_description, type:text %}
      <p>Lorem ipsum dolor sit amet, <b>consectetur adipisicing elit</b>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Ruis nostrud exercitation <b>ullamco laboris nisi ut aliquip</b> ex ea commodo consequat. Lorem ipsum dolor <b>sit amet,</b> consectetur adipisicing elit.</p>
      {% endregionblock %}
    </div>
  </div>
</section>

<section class="amenities">
  <h2 class="h4">As our guest, you’ll enjoy these features:</h2>
  <ul class="amenities__listing">
    {% assign items = site.data._models.amenities %}
    {% for item in items %}
    <li>
      <img src="{{ item.image.url_medium }}" alt= "{{ item.name }}" />
      <p>{{ item.name }}</p>
    </li>
    {% endfor %}
  </ul>
  <a class="btn" href="#">Discover More</a>
</section>

{% region intro, type:mixed %}

{{ content }}

<section class="experience">
  {% regionblock experience_tagline, type:text %}
  <p class="overline overline--italic text-center dark" tabindex="0">Experience Key West</p>
  {% endregionblock %}
  {% regionblock experience_heading, type:header %}
  <h5 class="h3" tabindex="0">things to do & see in Key west</h5>
  {% endregionblock %}
  <div class="description" tabindex="0">
    {% regionblock carousel_intro_description, type:text %}
    <p>As a Ocean’s Edge guest, you have access to an <b>exceptional variety</b> of activities and things to do in Key West. Fishing, paddleboarding, yoga, kayaking & scuba diving are some of the many activities available immediately in our resort. <b>We provide everything you need</b> for rentals, equipment, and accessories for your exploration. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    {% endregionblock %}
  </div>
</section>

{% region outro, type:mixed %}
