---
layout: generic
---

<section class="hero-carousel hero-inner">
  <div class="hero-carousel__wrap">
    {% regionblock hero_image, type:text %}
    <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1572857541/vwty1inbqhp9anqyxie4.jpg" alt= "Couple blowing bubbles" />
    {% endregionblock %}
  </div>
  <div class="hero-carousel__intro">
    {% regionblock page_intro_tagline, type:text %}
    <p class="overline overline--italic text-center dark" tabindex="0">Unmissable Deals</p>
    {% endregionblock %}
    {% regionblock page_intro_heading, type:header %}
    <h1 class="h1" tabindex="0">Special Offers</h1>
    {% endregionblock %}
    <div class="description" tabindex="0">
      {% regionblock page_intro_description, type:text %}
      <p>Explore our selection of <b>tempting Key West deals</b> below and <b>enjoy special savings, added perks, and more</b> from Oceans Edge Key West. From family vacations in the Florida Keys to romantic escapes, fishing excursions and beyond, our Key West hotel deals ensure your stay is as a <b>relaxing or adventure-filled</b> as you desire.</p>
      {% endregionblock %}
    </div>
  </div>
</section>

<section class="large-card">
  <div class="heading-line-through">
    <p class="h2">
      <span class="heading-line-through__text">Limited time, <span class="h2--italic">don’t miss out!</span></span>
    </p>
  </div>
  <div class="large-card__row">
    <div class="large-card__item">
      <div class="large-card__item__inner">
        <div class="large-card__item__image">
          <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1572918305/iqrdhynnjrxrvo1gqyfc.jpg" alt=" Limited Time Offer">
        </div>
        <div class="large-card__item__wrap">
          <h3 class="h4 light">
            <a href="">Limited Time Offer</a>
          </h3>
          <div class="large-card__item__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            <div class="large-card__item__button">
              <a href="" class="btn btn--book-small">Book</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="large-card__item">
      <div class="large-card__item__inner">
        <div class="large-card__item__image">
          <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1572918305/yxnyrauevf2mkadl8u0g.jpg" alt=" Limited Time Offer">
        </div>
        <div class="large-card__item__wrap">
          <h3 class="h4 light">
            <a href="">Exclusive Benefits</a>
          </h3>
          <div class="large-card__item__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            <div class="large-card__item__button">
              <a href="" class="btn btn--book-small">Book</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="asset-list asset-list--variant mt-55">
  <div class="heading-line-through">
    <p class="h2">
      <span class="heading-line-through__text"><span class="h2--italic">Placeholder</span> category heading</span>
    </p>
  </div>
  {% assign rooms = site.data._models.stay | sort:"order" %}
  <div class="asset-list__items">
    {% for room in rooms %}
      <div class="asset-item {{room.room_type.name | downcase | replace: '&', '' | replace: '  ', ' ' | replace: ' ', '-' }}">
        <div class="asset-item__wrap">
          <div class="asset-item__featured-image">
            {% assign featured_image = room.featured_image %}
            {% include components/image image=featured_image max_width=800 %}
          </div>
          <div class="asset-item__text-group">
            <div class="asset-item__text-group__wrap">
              <h3 class="h4"><a class="arrow-link" href="{{ room.url_friendly_name | permalink: model_dir: 'stay' }}">{{ room.name }}</a></h3>
              <div class="row">
                <div class="col-9">
                  <div class="bed-type">
                    <p>Lorem ipsum dolor sit amet sed do eiusmod tempor incididunt.</p>
                  </div>
                </div>
                <div class="col-3">
                  <a class="btn" href="{{ room.booking_url }}">Book</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="heading-line-through">
    <p class="h2">
      <span class="heading-line-through__text"><span class="h2--italic">Placeholder</span> category heading</span>
    </p>
  </div>
  {% assign rooms = site.data._models.stay | sort:"order" %}
  <div class="asset-list__items mb-0">
    {% for room in rooms %}
      <div class="asset-item {{room.room_type.name | downcase | replace: '&', '' | replace: '  ', ' ' | replace: ' ', '-' }}">
        <div class="asset-item__wrap">
          <div class="asset-item__featured-image">
            {% assign featured_image = room.featured_image %}
            {% include components/image image=featured_image max_width=800 %}
          </div>
          <div class="asset-item__text-group">
            <div class="asset-item__text-group__wrap">
              <h3 class="h4"><a class="arrow-link" href="{{ room.url_friendly_name | permalink: model_dir: 'rooms' }}">{{ room.name }}</a></h3>
              <div class="row">
                <div class="col-9">
                  <div class="bed-type">
                    <p>Lorem ipsum dolor sit amet sed do eiusmod tempor incididunt.</p>
                  </div>
                </div>
                <div class="col-3">
                  <a class="btn" href="{{ room.booking_url }}">Book</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<section class="twocol-cs mt-55">
  <div class="twocol-cs__row">
    <div class="twocol-cs__item">
      <div class="twocol-cs__item__inner">
        <div class="twocol-cs__item__image">
          {% regionblock twocol_cross_sell_left_image, type:image %}
          <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1572948891/ko26tx7meg3w0haxlnoq.jpg" alt="Oceanfront Suites">
          {% endregionblock %}
        </div>
        <div class="twocol-cs__item__content">
          {% regionblock twocol_cross_sell_left_overline, type:header %}
          <h3 class="overline overline--italic light">Oceanfront Suites</h3>
          {% endregionblock %}
          {% regionblock twocol_cross_sell_left_heading, type:header %}
          <h4 class="h3 light">experience ocean views in spacious  luxury</h4>
          {% endregionblock %}
          {% regionblock twocol_cross_sell_left_button, type:text %}
          <a href="" class="btn btn--light">View All Suites</a>
          {% endregionblock %}
        </div>
      </div>
    </div>
    <div class="twocol-cs__item">
      <div class="twocol-cs__item__inner">
        <div class="twocol-cs__item__image">
          {% regionblock twocol_cross_sell_right_image, type:image %}
          <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1572948891/w9wspvcffwusjqou3pcs.jpg" alt="Oceanfront Rooms">
          {% endregionblock %}
        </div>
        <div class="twocol-cs__item__content">
          {% regionblock twocol_cross_sell_right_overline, type:header %}
          <h3 class="overline overline--italic light">Oceanfront Rooms</h3>
          {% endregionblock %}
          {% regionblock twocol_cross_sell_right_heading, type:header %}
          <h4 class="h3 light">Stylish comfort overlooking the marina</h4>
          {% endregionblock %}
          {% regionblock twocol_cross_sell_right_button, type:text %}
          <a href="" class="btn btn--light">View All Rooms</a>
          {% endregionblock %}
        </div>
      </div>
    </div>
  </div>
</section>
