---
layout: default
---

{% assign offer = page.data %}

<section class="rooms-cross-sell rooms-cross-sell--full-screen rooms-cross-sell--offer-details">
  <div class="rooms-cross-sell__wrap">
    <div class="rooms-cross-sell__content-wrap">
      <div class="rooms-cross-sell__image">
        <div class="rooms-cross-sell__image__wrap">
          <img src="{{ offer.image.url_medium }}" alt="{{ offer.image.alt }}" />
        </div>
      </div>
      <div class="rooms-cross-sell__content">
        <div class="rooms-cross-sell__content__detail">
          <div class="d-inline-block mb-2">
            <a class="btn btn--tertiary btn--reverse" href="/offers/">back to all offers</a>
          </div>
          <h1 class="h3" tabindex="0">{{ offer.name }}</h1>
          <hr class="mb-3">
          {% if offer.short_description_detail_page %}
          <div tabindex="0">
            <p class="overline">{{ offer.short_description_detail_page }}</p>
          </div>
          {% endif %}
          <div tabindex="0">{{ offer.description }}</div>
          <p>Need to know:</p>
          <div tabindex="0">{{ offer.terms_conditions }}</div>
          <div class="btn-holder">
            <a class="btn btn--book" href="{{ offer.booking_url }}" target="_blank">Book Offer</a>
          </div>
          <div class="social-share">
            <p class="h5" tabindex="0"><span>Share</span></p>
            <div class="social-media">
              <a href="https://www.facebook.com/OceansEdgeKeyWest/" target="_blank" title="Follow us on Facebook"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.twitter.com/oceansedgekeywest/" target="_blank" title="follow us on twitter"><i class="fab fa-twitter"></i></a>
              <a href="https://www.instagram.com/oceansedgekeywest/" target="_blank" title=""><i class="far fa-envelope"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="asset-list asset-list--variant mt-55">
  <hr class="mb-3">
  <div class="asset-list__header">
    <h2 class="h4">More Related Offers</h2>
    <a href="/offers/" class="btn">View all Offers</a>
  </div>
  {% include components/offer-cross-sell %}
</section>

<section class="common-cta">
  <div class="common-cta__img">
    {% regionblock common-cta-img, type:image %}
      <img src="" alt="">
    {% endregionblock %}
  </div>
  <div class="common-cta__text text-center">
    {% regionblock common-cta-header, type:text %}
      <p class="h4 light">The Resort</p>
    {% endregionblock %}
    {% regionblock common-cta-text, type:text %}
      <p class="h3 light">an exhilarating Key West escape</p>
      <a href="/dining/" class="btn btn--light">Discover More</a>
    {% endregionblock %}
  </div>
</section>
