---
layout: generic
---

<section class="intro">
  <div class="intro__wrap">
    {% regionblock rooms_tagline, type:text %}
    <p class="overline overline--italic dark text-center" tabindex="0">Stay at Ocean’s Edge Key West</p>
    {% endregionblock %}
    {% regionblock rooms_heading, type:header %}
    <h5 class="h3" tabindex="0">spectacular rooms & suites</h5>
    {% endregionblock %}
    <div class="description" tabindex="0">
      {% regionblock rooms_intro_description, type:text %}
      <p>Our brand new rooms are the <strong>most spacious in Key West.</strong> But even better, every single room at Oceans Edge Key West Resort Hotel & Marina delivers <strong>unparalleled ocean views,</strong> luxury amenities and a <strong>private balcony. Our brand new rooms are the most spacious in Key West. But even better, every single room at Oceans Edge Key West Resort Hotel & Marina delivers unparalleled ocean views, luxury amenities and a private balcony.</strong></p>
      {% endregionblock %}
    </div>
    <hr>
  </div>
</section>

{% if site.data._models.rooms %}

  <section class="c-room-list">
    <p class="overline">Select your preferred accommodation type directly or via our interactive resort map:</p>

    <ul class="filter-items">
      {% assign categories = site.data._models.room_bed_types | sort:"order" %}
      <li><a class="btn btn--tertiary active" href="javascript:void(0);" data-filter="all">All</a></li>
      {% for category in categories %}
      <li><a class="btn btn--tertiary" href="javascript:void(0);" data-filter="{{ category.name | downcase | replace: '&', '' | replace: '  ', ' ' | replace: ' ', '-' }}">{{ category.name }}</a></li>
      {% endfor %}
    </ul>

    {% assign rooms = site.data._models.rooms | sort:"order" %}
    <div class="c-room-list__items">
      {% for room in rooms %}
        <div class="tab-content {{room.room_category[0].name | downcase | replace: '&', '' | replace: '  ', ' ' | replace: ' ', '-' }}"">
          {% include components/room %}
        </div>
      {% endfor %}
    </div>
  </section>
{% else %}
  {% regionblock no_list_items, type:html %}
    {% t 'rooms.none' %}
  {% endregionblock %}
{% endif %}

{{ content }}
