---
layout: default
---

{% assign room = page.data %}

<section class="rooms-cross-sell rooms-cross-sell--full-screen">
  <div class="rooms-cross-sell__wrap">
    <div class="rooms-cross-sell__content-wrap">
      <div class="rooms-cross-sell__image">
        <div class="rooms-cross-sell__image__wrap">
          {% assign slides = room.images %}
          {% for slide in slides %}
            <img src="{{ slide.url_medium }}" alt= "{{ slide.alt }}" />
          {% endfor %}
        </div>
        <div class="rooms-cross-sell__controls" id="roomsNav">
          <a class="iconbtn iconbtn--left" data-controls="prev" tabindex="-1" href="javascript:void(0)" title="Previous Image"></a>
          <a class="iconbtn iconbtn--right" data-controls="next" tabindex="-1" href="javascript:void(0)" title="Next Image"></a>
        </div>
      </div>
      <div class="rooms-cross-sell__content">
        <div class="rooms-cross-sell__content__detail">
          <div class="d-inline-block mb-2">
            <a class="btn btn--tertiary btn--reverse" href="/stay/">back to all rooms</a>
          </div>
          <h1 class="h3" tabindex="0">{{ room.name }}</h1>
          <hr class="mb-3">
          <div tabindex="0">{{ room.description }}</div>
          <h2 class="h5" tabindex="0">Room Features</h2>
          <div class="amenities amenities--room" tabindex="0">
            <ul class="amenities__listing">
              {% assign items = room.room_amenities %}
              {% for item in items %}
              <li>
                <img src="{{ item.image.url_medium }}" alt= "{{ item.name }}" />
                <p>{{ item.name }}</p>
              </li>
              {% endfor %}
            </ul>
          </div>
          {% regionblock rooms-cross-sell_url, type:text %}
          <a class="btn" href="#">Browse Accomodations</a>
          {% endregionblock %}
        </div>
      </div>
    </div>
  </div>
</section>
