---
layout: generic
---

<section class="intro">
  <div class="intro__wrap">
    {% regionblock rooms_tagline, type:text %}
    <p class="overline overline--italic dark text-center" tabindex="0">Stay at Ocean’s Edge Key West</p>
    {% endregionblock %}
    {% regionblock rooms_heading, type:header %}
    <h1 class="h1" tabindex="0">spectacular rooms & suites</h1>
    {% endregionblock %}
    <div class="description" tabindex="0">
      {% regionblock rooms_intro_description, type:text %}
        <p>Our brand new rooms are the <strong>most spacious in Key West.</strong> But even better, every single room at Oceans Edge Key West Resort Hotel & Marina delivers <strong>unparalleled ocean views,</strong> luxury amenities and a <strong>private balcony. Our brand new rooms are the most spacious in Key West. But even better, every single room at Oceans Edge Key West Resort Hotel & Marina delivers unparalleled ocean views, luxury amenities and a private balcony.</strong></p>
      {% endregionblock %}
    </div>
    <hr>
  </div>
</section>

{% if site.data._models.rooms %}
<section class="asset-list">
  <p class="overline overline--small text-center">Select your preferred accommodation type directly or via our interactive resort map:</p>

  <ul class="filter-items rooms-filter hidden">
    {% assign categories = site.data._models.room_type | sort:"order" %}
    <li><a class="btn btn--tertiary active" href="javascript:void(0);" data-filter="all">All</a></li>
    {% for category in categories %}
    <li><a class="btn btn--tertiary" href="javascript:void(0);" data-filter="{{ category.name | downcase | replace: '&', '' | replace: '  ', ' ' | replace: ' ', '-' | replace: '1', 'one' | replace: '2', 'two' | replace: '3', 'three' }}">{{ category.name }}</a></li>
    {% endfor %}
  </ul>


  {% assign rooms = site.data._models.rooms | sort: "order" %}

  <div class="filters-block">
    <div class="filters-block__room-type">
      <p class="h4">All Accomodations</p>
      <p class="overline dark filtered-rooms-text">
        <span>{{rooms.size}}</span> Rooms & Suites
      </p>
    </div>
    <div class="filters-block__form">
      <form>
        <div class="form-group">
          <label for="">Filter by Room Type:</label>
          <select class="form-control bed-type-filter">
            <option value="all">All</option>
            {% assign bedtypes = site.data._models.room_bed_types | sort:"order" %}
            {% for type in bedtypes %}
            <option value="{{ type.name }}">{{ type.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="">Filter by View:</label>
          <select class="form-control room-view-filter">
            <option value="all">All</option>
            {% assign views = site.data._models.room_view | sort:"order" %}
            {% for view in views %}
            <option value="{{ view.name }}">{{ view.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="noOfGuests">No of Guests:</label>
          <div class="guests-slider" id="guestsSlider">
            <span class="output"></span>
            Sleeps 1 <input type="range" min="1" max="6" value="0" class="slider room-guests-filter" id="noOfGuests"> Sleeps 6
          </div>
        </div>
      </form>
      <a class="btn btn--tertiary-filter d-inline-block d-lg-none jsModalTrigger" href="javascript:void(0);">Filters</a>
    </div>
  </div>
  <div class="asset-list__items">
    {% for room in rooms %}
      {% include components/room %}
    {% endfor %}
  </div>
  <p class="no-rooms-message text-center m-3">We can't find the room type you've requested. Please select a new configuration.</p>
</section>


<section class="two-col-intro">
  <div class="two-col-intro__image">
    {% regionblock rooms_intro_image, type:image %}
    <img src="" alt= "Image" />
    {% endregionblock %}
  </div>
  <div class="two-col-intro__content">
    <div class="two-col-intro__content__detail">
      {% regionblock rooms_intro_tagline, type:text %}
      <p class="overline overline--italic dark" tabindex="0">Rooms & Suites</p>
      {% endregionblock %}
      {% regionblock rooms_intro_heading, type:header %}
      <p class="h3" tabindex="0">Lorem ipsum dolor sit amet ullamco</p>
      {% endregionblock %}
      <div tabindex="0">
        {% regionblock rooms_intro_text, type:text %}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Ruis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <ul>
          <li>Every room is oceanfront</li>
          <li>Sizable waterfront balconies and porches</li>
          <li>Key West's largest guestrooms and suites</li>
          <li>Extensive onsite watersports and boat charter facilities</li>
        </ul>
        {% endregionblock %}
    </div>
    </div>
  </div>
</section>
<hr>

<div class="mobile-filter-popup" id="jsModal">
  <a class="close jsModalClose" href="javascript:void(0);" title="Close"></a>
  <form>
    <p class="h4">Filter accomodation by:</p>
    <div class="form-group">
      <label for="">Room Type:</label>
      <select class="form-control bed-type-filter">
        <option value="all">All</option>
        {% assign bedtypes = site.data._models.room_bed_types | sort:"order" %}
        {% for type in bedtypes %}
        <option value="{{ type.name }}">{{ type.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="">View:</label>
      <select class="form-control room-view-filter">
        <option value="all">All</option>
        {% assign views = site.data._models.room_view | sort:"order" %}
        {% for view in views %}
        <option value="{{ view.name }}">{{ view.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="">No of Guests:</label>
      <div class="guests-slider" id="guestsSliderMobile">
        <span class="output"></span>
        Sleeps 1 <input type="range" min="1" max="6" value="0" class="slider" id="noOfGuests"> Sleeps 6
      </div>
    </div>
  </form>
</div>
{% else %}
{% regionblock no_list_items, type:html %}
  <p class="h3">No rooms availble to show.</p>
{% endregionblock %}
{% endif %}

<div class="offers-cross-sell__no-nav">
  <div class="asset-list asset-list--variant">
    <div class="asset-list__header">
      <div class="content">
        <h2 class="h4 mb-2">Oceans Edge Resort & Marina</h2>
        <p>Book directly with us and enjoy added perks, special offers, and great rates for Florida residents throughout the year. Boating enthusiasts welcome!</p>
      </div>
      <a href="/offers/" class="btn mb-auto">View all Offers</a>
    </div>
    {% include components/offer-cross-sell %}
  </div>
</div>
