<form action="https://submit.jotform.me/submit/{{ site.data.forms.jotform.blog-subscription-id }}/" method="post" name="form_{{ site.data.forms.jotform.blog-subscription-id }}" id="{{ site.data.forms.jotform.blog-subscription-id }}" accept-charset="utf-8">
  <input type="hidden" name="formID" value="{{ site.data.forms.jotform.blog-subscription-id }}">
  <div class="form-group">
    <input type="text" class="form-control" name="name" placeholder="Name" aria-label="Enter your name" required>
    <input type="email" class="form-control" name="email" placeholder="Email Address" aria-label="Enter your email address" required>
  </div>
  <div class="form-check">
    <label class="cstm-checkbox" for="agree_terms_blog" tabindex="0">I agree to the <a href="/terms/">Terms of Use</a> & <a href="/privacy/">Privacy Policy</a>
      <input type="checkbox" name="" id="agree_terms_blog">
      <span class="checkmark"></span>
    </label>
  </div>
  <button class="btn btn--primary" title="Submit">Subscribe</button>
</form>
