<p class="overline">Subscribe & <span>Stay Connected</span></p>
<form name="newsletterForm" id="newsletterForm">
    <input type="hidden" name="formID" value="1523a0c3-bc2e-4e6c-98db-7f230d77ab66">
    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Name" required aria-label="Enter name">
    <input type="email" class="form-control" id="emailAddress" name="emailAddress" placeholder="Email Address" aria-label="Enter your email address" required>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="agree_terms" name="q4_iAgree[]" value="Agree" required>
        <label class="form-check-label" for="agree_terms">
          I agree to the <a href="/privacy/" title="Privacy Policy">Privacy Policy</a>
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn--book">Subscribe</button>
</form>
