<p class="overline">Subscribe & <span>Stay Connected</span></p>
<form action="https://submit.jotform.me/submit/{{ site.data.forms.jotform.newsletter-id }}/" method="post" name="form_{{ site.data.forms.jotform.newsletter-id }}"
    id="{{ site.data.forms.jotform.newsletter-id }}" accept-charset="utf-8">
    <input type="hidden" name="formID" value="{{ site.data.forms.jotform.newsletter-id }}">
    <input type="text" class="form-control" name="q3_firstName" placeholder="Name" required aria-label="Enter first name">
    <input type="email" class="form-control" id="input_3" name="q3_input3" placeholder="Email Address" required>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="terms-service" name="q8_iAgree[]" value="Agree">
        <label class="form-check-label" for="terms-service">
          I agree to the <a href="/terms/" title="Terms of Service">Terms of use</a> & <a href="/privacy/" title="Privacy Policy">Privacy Policy</a>
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn--book" id="input_2">Subscribe</button>
    <input type="hidden" id="simple_spc" name="simple_spc" value="{{ site.data.forms.jotform.newsletter-id }}">

    <script type="text/javascript">
        document.getElementById("si" + "mple" + "_spc").value = "{{ site.data.forms.jotform.newsletter-id }}-{{ site.data.forms.jotform.newsletter-id }}";
    </script>
</form>
