
<form action="https://submit.jotform.me/submit/{{ site.data.forms.jotform.rfp-id }}/" method="post" name="form_{{ site.data.forms.jotform.rfp-id }}" id="{{ site.data.forms.jotform.rfp-id }}"
    accept-charset="utf-8" autocomplete="off">
    <input type="hidden" name="formID" value="{{ site.data.forms.jotform.rfp-id }}">


    <h5 class="h5 text-left">Your Details</h5>
    <div class="form-wrapper__block">
      <div class="form-group">
        <label>First Name*</label>
        <input type="text" class="form-control" name="q3_name" placeholder="" required>
      </div>
      <div class="form-group">
        <label>Last Name*</label>
        <input type="text" class="form-control" name="q3_name" placeholder="" required>
      </div>
      <div class="form-group">
        <label>Email Address*</label>
        <input type="text" class="form-control" name="q3_name" placeholder="" required>
      </div>
      <div class="form-group">
        <label>Mobile Number*</label>
        <input type="text" class="form-control" name="q3_name" placeholder="" required>
      </div>
      <div class="form-group full">
        <label>Address</label>
        <input type="text" class="form-control" name="q3_name" placeholder="">
      </div>
      <div class="form-group third">
        <label>City</label>
        <input type="text" class="form-control" name="q3_name" placeholder="">
      </div>
      <div class="form-group third">
        <label>State</label>
        <input type="text" class="form-control" name="q3_name" placeholder="">
      </div>
      <div class="form-group third">
        <label>ZIP</label>
        <input type="text" class="form-control" name="q3_name" placeholder="">
      </div>
    </div>
    <hr>
    <h5 class="h5 text-left">Event Details</h5>
    <div class="form-wrapper__block">
      <div class="form-group">
        <label for="">Event Type</label>
        <select class="form-control">
          <option>Please Select</option>
          <option>Selection 1</option>
          <option selected></option>
          <option>Selection 3</option>
          <option>Selection 4</option>
        </select>
      </div>
      <div class="form-group chck-cstm">
        <span class="text">Preferred contact method:</span>
        <label class="cstm-checkbox">
          <input type="checkbox"> Email
          <span class="checkmark"></span>
        </label>
        <label class="cstm-checkbox">
          <input type="checkbox"> Phone
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="form-group forth">
        <label>Event Start Date</label>
        <div class="date">
          <input type="text" name="" class="form-control">
        </div>
      </div>
      <div class="form-group forth">
        <label>Event End Date</label>
        <div class="date">
          <input type="text" name="" class="form-control">
        </div>
      </div>
      <div class="form-group forth">
        <label>Arrival Date</label>
        <div class="date">
          <input type="text" name="" class="form-control">
        </div>
      </div>
      <div class="form-group forth">
        <label>Departure Date</label>
        <div class="date">
          <input type="text" name="" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="">Estimated Number of Rooms Required</label>
        <input type="text" class="form-control" name="q3_name" placeholder="">
      </div>
      <div class="form-group chck-cstm">
        <span class="text">Are your dates flexible?</span>
        <label class="cstm-checkbox">
          <input type="checkbox"> Yes
          <span class="checkmark"></span>
        </label>
        <label class="cstm-checkbox">
          <input type="checkbox"> No
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="form-group">
        <label for="">Description of Event</label>
        <textarea class="form-control" name="name"></textarea>
      </div>
      <div class="form-group">
        <label for="">F&B requirements</label>
        <textarea class="form-control" name="name"></textarea>
      </div>
      <div class="form-group"></div>
      <div class="form-group d-flex justify-content-between">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="terms-service" name="q8_iAgree[]" value="Agree">
          <label class="form-check-label" for="terms-service">
            I agree to the <a href="/terms/" title="Terms of Service">Terms of use</a> &amp; <a href="/privacy/" title="Privacy Policy">Privacy Policy</a>
          </label>
        </div>
        <button type="submit" class="btn m-0" id="input_2">SEND</button>
      </div>
    </div>
    <input type="hidden" id="simple_spc" name="simple_spc" value="{{ site.data.forms.jotform.rfp-id }}">

    <script type="text/javascript">
        document.getElementById("si" + "mple" + "_spc").value = "{{ site.data.forms.jotform.rfp-id }}-{{ site.data.forms.jotform.rfp-id }}";
    </script>
</form>
<script type="text/javascript">
    JotForm.ownerView = true;
</script>
